extends layouts/main
include mixins/videoBlock

block content
  .videos
    each videoItem in videos 
      +videoBlock({
        title: videoItem.title,
        views: videoItem.views,
        videoFile: videoItem.videoFile
      })
      
      