extends layouts/main
include mixins/videoBlock

block content
  .search__header 
    h3 You searched: #{searchingBy}
  .search__videos 
    each videoItem in videos 
      +videoBlock({
        title: videoItem.title,
        views: videoItem.views,
        videoFile: videoItem.videoFile
      })
